{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Hakkımızda</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
<br>
    <section class="our-gallery-section zero-pd-top">
        <div class="container">
            <div class="col-md-12">
                <div class="section-title-area text-center zero-pd-top">
                    <h2 class="section-title italic-style zero-mr-top">Neden
                        <br> Bodrum Marmaris Mutfak</h2>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="section-align-title-area">
                        <h2 class="section-align-title">En İyi
                            <br>Ürünler
                            <br>Müşteri ve
                            <br>Memnuniyeti</h2>
                        <p>Marmaris Mutfak Ailesi, 2009 yılında, sektöründe yenilikci ve öncü çözümler üretmeyi hedefleyerek sorumluluk bilinciyle kuruldu. Türkiye çapında, konusunda lider markaların bölge temsilciliğini yapmakta olan Marmaris Mutfak, bölgede sektörünün ihtiyaç duyduğu ürün yelpazesini de takip ederek; Endüstriyel Mutfak & Set Üstü Ürünler, Cam ve Porselen Ürünler başta olmak üzere, sektörümüzün ihtiyaç duyduğu birçok ana ve ara ürünü bünyesinde bulundurmaktadır. Odak noktası "Müşteri" olan Marmaris Mutfağın amacı; her geçen gün değişen ve ihtiyaçlarının farkında olan müşteri kitlesinin yaşamlarına özel çözümler sunarak hizmet vermektir. Marmaris Mutfak Ailesi, Satış & Pazarlamasını yaptığı ürünlerde, insan yaşamına değer veren, kaliteyi ilke olarak benimseyen, yılların vermiş olduğu tecrübe ve işbirliği ile değişimlere açık, kendisine duyulan güvenin sorumluluğuyla istikrarlı bir şekilde büyümektedir.</p>
                    </div><!--/.section-align-title-area-->
                </div><!--/.col-md-6-->
                <div class="col-md-6">
                    <div class="row gallery-item-content">
                        <div class="col-sm-6 padding-reset">
                            <a href="{% static '22.jpeg' %}" class="image-popup-btn">
                                <img alt="Cup Of Coffee" src="{% static '22.jpeg' %}">
                            </a>
                        </div>
                        <div class="col-sm-6 padding-reset">
                            <a href="{% static '44.jpeg' %}" class="image-popup-btn">
                                <img alt="Cup Of Coffee" src="{% static '44.jpeg' %}">
                            </a>
                        </div>
                        <div class="col-sm-6 padding-reset">
                            <a href="{% static '55.jpeg' %}" class="image-popup-btn">
                                <img alt="Cup Of Coffee" src="{% static '55.jpeg' %}">
                            </a>
                        </div>
                        <div class="col-sm-6 padding-reset">
                            <a href="{% static '66.jpeg' %}" class="image-popup-btn">
                                <img alt="Snowpiercer" src="{% static '66.jpeg' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.our-gallery-section-->
{% endblock %}


{% block jss %}
{% endblock %}