{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Bodrum Marmaris Mutfak</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
<div id="rev_slider_467_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic-carousel26" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
			<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
			<div id="rev_slider_467_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
				<ul>
                    {% for slider in sliders %}
					<li data-index="rs-1596" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% if slider.image %}{{ slider.image.url }}{% else %}{% endif %}"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Big flavors" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="{% if slider.image %}{{ slider.image.url }}{% else %}{% endif %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->
						<!-- LAYER NR. 1 -->
						<div class="tp-caption NotGeneric-Title   tp-resizeme"
							id="slide-1596-layer-1"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							data-fontsize="['50','50','50','45']"
							data-lineheight="['55','55','55','50']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-type="text"
							data-responsive_offset="on"
							data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[10,10,10,10]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[10,10,10,10]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 5; white-space: nowrap;text-transform:left;">{{slider.title}}</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption NotGeneric-SubTitle   tp-resizeme"
							id="slide-1596-layer-4"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-type="text"
							data-responsive_offset="on"
							data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 6; white-space: nowrap;text-transform:left;">{{slider.small}}</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption NotGeneric-Icon   tp-resizeme"
							id="slide-1596-layer-8"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-type="text"
							data-responsive_offset="on"
							data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 7; white-space: nowrap;text-transform:left;cursor:default;"><i class="icon-divider"></i></div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-1597" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% if slider.image2 %}{{ slider.image2.url }}{% else %}{% endif %}"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Happy" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="{% if slider.image2 %}{{ slider.image2.url }}{% else %}{% endif %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->
						<!-- LAYER NR. 1 -->
						<div class="tp-caption NotGeneric-Title   tp-resizeme"
							id="slide-1597-layer-1"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							data-fontsize="['50','50','50','45']"
							data-lineheight="['55','55','55','50']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-type="text"
							data-responsive_offset="on"
							data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[10,10,10,10]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[10,10,10,10]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 5; white-space: nowrap;text-transform:left;">{{slider.title2}}</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption NotGeneric-SubTitle   tp-resizeme"
							id="slide-1597-layer-4"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-type="text"
							data-responsive_offset="on"
							data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 6; white-space: nowrap;text-transform:left;">{{slider.small2}}</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption NotGeneric-Icon   tp-resizeme"
							id="slide-1597-layer-8"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-type="text"
							data-responsive_offset="on"
							data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 7; white-space: nowrap;text-transform:left;cursor:default;"><i class="icon-divider"></i></div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-1598" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% if slider.image3 %}{{ slider.image3.url }}{% else %}{% endif %}"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Hot" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="{% if slider.image3 %}{{ slider.image3.url }}{% else %}{% endif %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->
						<!-- LAYER NR. 1 -->
						<div class="tp-caption NotGeneric-Title   tp-resizeme"
							id="slide-1598-layer-1"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							data-fontsize="['50','50','50','45']"
							data-lineheight="['55','55','55','50']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-type="text"
							data-responsive_offset="on"
							data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[10,10,10,10]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[10,10,10,10]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 5; white-space: nowrap;text-transform:left;">{{slider.title3}}</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption NotGeneric-SubTitle   tp-resizeme"
							id="slide-1598-layer-4"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-type="text"
							data-responsive_offset="on"
							data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 6; white-space: nowrap;text-transform:left;">{{slider.small3}}</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption NotGeneric-Icon   tp-resizeme"
							id="slide-1598-layer-8"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-type="text"
							data-responsive_offset="on"
							data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 7; white-space: nowrap;text-transform:left;cursor:default;"><i class="icon-divider"></i></div>
					</li>
                    {% endfor %}
				</ul>
				<div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
			</div>
		</div>
{% for about in abouts %}
<div class="container about-us" id="about">
				<div class="row">
					<div class="col-lg-6 col-md-6 animated" data-animation="fadeIn" data-animation-delay="600"><img src="{% if about.image %}{{ about.image.url }}{% else %}{% endif %}" class="img-responsive center-block" alt=""></div>
					<div class="col-lg-6 col-md-6">
						<div class="herotext animated" data-animation="fadeInUp" data-animation-delay="400">
							<p class="box-heading">
								<span>Hakkımızda</span>
							</p>
						</div>
						<div class="description animated" data-animation="fadeInDown" data-animation-delay="800">{{about.about}}</div>
						<div class="button animated" data-animation="flipInX" data-animation-delay="1000"><a href="" class="fill-orange">Hikayemiz</a></div>
					</div>
				</div>
			</div>
{% endfor %}
<div class="menu-grid">
				<div class="container">
					<div class="row">
						<div class="herotext animated" data-animation="fadeInUp" data-animation-delay="400">
							<p class="box-heading">
								<span>Ürünlerimiz</span>
							</p>
						</div>
					</div>
					<div class="row">


						<div class="col-lg-4 col-md-4 col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="400">
							<div class="herotext animated" data-animation="fadeInUp" data-animation-delay="400">
								<p class="box-heading">
									<span style="font-size:15px;">Otel Ekipmanları</span>
								</p>
							</div>
							<div class="picture">
								<img src="{% static 'k1.jpg' %}" class="img-responsive" alt=""/>

								<div class="portfolio-overlay-2">
									<div class="icons">
										<div>
											<h1>Otel Ekipmanları</h1>
											<p class="line"></p>
                                            <p class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
											<span class="icon"> <a href="/bodrum-marmaris-mutfak/otel/otel-ekipmani/" class="#">İncele</a></span>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="400">
							<div class="herotext animated" data-animation="fadeInUp" data-animation-delay="400">
								<p class="box-heading">
									<span style="font-size:15px;">Endüstiriyel Mutfak</span>
								</p>
							</div>
							<div class="picture">
								<img src="{% static 'k2.jpg' %}" class="img-responsive" alt=""/>

								<div class="portfolio-overlay-2">
									<div class="icons">
										<div>
											<h1>Endüstiriyel Mutfak</h1>
											<p class="line"></p>
                                            <p class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
											<span class="icon"> <a href="/bodrum-marmaris-mutfak/endüs/endustiryel-mutfak/" class="#">İncele</a></span>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="400">
							<div class="herotext animated" data-animation="fadeInUp" data-animation-delay="400">
								<p class="box-heading">
									<span style="font-size:15px;">Açık Büfe</span>
								</p>
							</div>
							<div class="picture">
								<img src="{% static 'k3.jpg' %}" class="img-responsive" alt=""/>

								<div class="portfolio-overlay-2">
									<div class="icons">
										<div>
											<h1>Açık Büfe</h1>
											<p class="line"></p>
                                            <p class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
											<span class="icon"> <a href="/bodrum-marmaris-mutfak/open/acik-bufe/" class="#">İncele</a></span>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

<div class="parallax-2 testimonial">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="herotext">
								<p class="cross-line animated" data-animation="fadeInUp" data-animation-delay="400">
									<span>Müşteri Yorumlarmız</span>
								</p>
								<div class="line-2 animated" data-animation="fadeInUp" data-animation-delay="400">Müşterilerimizin Bizim İçin Düşündükleri</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
							<div class="testimonial-carousel animated" data-animation="fadeInUp" data-animation-delay="800">
								{% for comment in comments %}
								<div>
									<div class="icon"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
									<div class="description">{{comment.info}}</div>
									<div class="star">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="name">- {{comment.name}} -</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /. TESTIMONIALS ENDS
				========================================================================= -->
			<!-- OUR TEAM STARTS
				========================================================================= -->
			<div class="our-team" id="team">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="herotext">
								<p class="box-heading animated" data-animation="fadeInUp" data-animation-delay="400">
									<span>Bizi tercih Eden Şeflerimiz</span>
								</p>
								<div class="description animated" data-animation="fadeInUp" data-animation-delay="600">Sektörün En iyilerinden En iyi Deneyimler</div>
							</div>
						</div>
					</div>
					<div class="row">
						{% for cheff in cheffs %}
						<div class="col-lg-3 col-md-3 col-sm-6 animated" data-animation="fadeIn" data-animation-delay="800">
							<div class="block">
								<div class="picture"><img src="{% if cheff.image %}{{ cheff.image.url }}{% else %}{% endif %}" class="img-responsive center-block" alt=""></div>
								<div class="name"><a href="">{{cheff.name}}</a></div>
								<div class="designation">{{cheff.restaurant}}</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
<div class="container-fluid newsletter">
				<div class="row row1">
					<div class="col-lg-4 col-lg-offset-4">
						<div class="herotext animated" data-animation="fadeInUp" data-animation-delay="400">
							<h1>STAY UP TO DATE</h1>
							<div class="description">Sign up to  newsletter for the latest on all things Suitsupply</div>
						</div>
						<form class="form-inline animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="form-group">
								<input type="email" class="form-control" id="newsletter" placeholder="Enter you e-mail Address">
							</div>
							<button type="submit" class="btn btn-default"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
						</form>
					</div>
				</div>
			</div>
{% endblock %}


{% block jss %}
{% endblock %}