<!doctype html>
{% load static i18n %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block css%}
    {% endblock%}
    <link href="{% static 'css/all-stylesheets.css' %}" rel="stylesheet">
    {% block seo %}

    {% endblock %}
</head>

<body>






{% include "navbar.html" %}
{% for message in messages %}
<div class="alert alert-primary" role="alert">
    {{message}}
</div>
{% endfor %}
{% block content %}



{% endblock %}
{% include "footer.html" %}







{% block jss %}

{% endblock %}
        <script src="{% static 'js/jquery-1.11.3/jquery.min.js' %}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-dropdownhover.js' %}"></script>
		<script src="{% static 'js/ui/jquery-ui.js' %}"></script>
		<!-- REVOLUTION JS FILES -->
		<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
		<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
			(Load Extensions only on Local File Systems !
			The following part can be removed on Server for On Demand Loading) -->
		<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
		<script type="text/javascript">
			var tpj=jQuery;

			var revapi1078;
			tpj(document).ready(function() {
			if(tpj("#rev_slider_467_1").revolution == undefined){
			revslider_showDoubleJqueryError("#rev_slider_467_1");
			}else{
			revapi1078 = tpj("#rev_slider_467_1").show().revolution({
			sliderType:"standard",
			jsFileLocation:"revolution/js/",
			sliderLayout:"fullscreen",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				keyboardNavigation:"off",
				keyboard_direction: "horizontal",
				mouseScrollNavigation:"off",
					mouseScrollReverse:"default",
				onHoverStop:"off",
				touch:{
					touchenabled:"on",
					swipe_threshold: 75,
					swipe_min_touches: 1,
					swipe_direction: "horizontal",
					drag_block_vertical: false
				}
				,
				arrows: {
					style:"zeus",
					enable:true,
					hide_onmobile:true,
					hide_under:600,
					hide_onleave:true,
					hide_delay:200,
					hide_delay_mobile:1200,
					tmp:'<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
					left: {
						h_align:"left",
						v_align:"center",
						h_offset:30,
						v_offset:0
					},
					right: {
						h_align:"right",
						v_align:"center",
						h_offset:30,
						v_offset:0
					}
				}
				,
				bullets: {
					enable:true,
					hide_onmobile:true,
					hide_under:600,
					style:"metis",
					hide_onleave:true,
					hide_delay:200,
					hide_delay_mobile:1200,
					direction:"horizontal",
					h_align:"center",
					v_align:"bottom",
					h_offset:0,
					v_offset:30,
					space:5,
					tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
				}
			},
			viewPort: {
				enable:true,
				outof:"pause",
				visible_area:"80%",
				presize:false
			},
			responsiveLevels:[1240,1024,778,480],
			visibilityLevels:[1240,1024,778,480],
			gridwidth:[1240,1024,778,480],
			gridheight:[600,600,500,400],
			lazyType:"none",
			parallax: {
				type:"mouse",
				origo:"slidercenter",
				speed:2000,
				levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
				type:"mouse",
			},
			shadow:0,
			spinner:"off",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
			});
			}
			});	/*ready*/
		</script>
		<!-- Animation -->
		<script type="text/javascript" src="{% static 'js/animation/jquery.appear.js' %}"></script>
		<!-- Parallax -->
		<script type="text/javascript" src="{% static 'js/parallax/jquery.parallax-1.1.3.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/parallax/jquery.localscroll-1.2.7-min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/parallax/jquery.scrollTo-1.4.2-min.js' %}"></script>
		<!-- ScrollTo -->
		<script src="{% static 'js/nav/jquery.nav.js' %}"></script>
		<!-- Isotope -->
		<script type="text/javascript" src="{% static 'js/isotope/jquery.isotope.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/isotope/custom-isotope-mansory.js' %}"></script>
		<!-- Retina -->
		<script type="text/javascript" src="{% static 'js/retina/retina.js' %}"></script>
		<!-- Owl Carousel -->
		<script type="text/javascript" src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
		<!-- FitVids -->
		<script type="text/javascript" src="{% static 'js/fitvids/jquery.fitvids.js' %}"></script>
		<!-- Magnific Popup core JS file -->
		<script type="text/javascript" src="{% static 'js/magnific-popup/jquery.magnific-popup.js' %}"></script>
		<!-- AJAX Contact Form -->
		<script type="text/javascript" src="{% static 'js/contact/contact-form.js' %}"></script>
		<!-- AJAX Reservation Form -->
		<script type="text/javascript" src="{% static 'js/contact/reservation.js' %}"></script>
		<!-- Custom JS -->
		<script src="{% static 'js/custom/custom.js' %}"></script>
</body>
</html>